# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
# env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Vercel
.vercel 
_pycache_/
_pycache_
__pycache__/
__pycache__
/backend/__pycache__
/backend/test/__pycache__
/backend/routers/__pycache__
/backend/models/__pycache__
/backend/database/__pycache__
/backend/settings/__pycache__